.section {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
  background-color: #b30087;
}

.returns {
	font-size: 3em;
	color: #28a745!important;
}

.value {
	font-size: 3em;
	font-weight: 800;
}

.slider {
	width: 100%;
	height: 25px;
}

.lead {
	padding: 2em;
	color: #fff;
	text-align: left;
}

.card {
	background-color: #222;
	color: #fff;
}
