.section {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.featuredNumber {
	font-size: 2em;
	font-weight: 800;
}

.featuredTitle {
	font-size: 1em;
}
